#headder{
    text-align: center;
    margin: auto;
    font-family: serif;
    letter-spacing: 2px;
    font: 38px;
    
}
#headder>button{
    letter-spacing: 2px;
    font-weight: 100;
    padding: 8px 14px;
    background-color: transparent;
    border-width: thin;
    border: 0.5px solid rgb(167, 167, 167);
}
#parent{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    font-family: serif;
    letter-spacing: 2px;
    font: 38px;
}
#parent>div:nth-child(1)>h2{
    font-size: 35px;
    
}

#parent>div:nth-child(1){
  margin-left: 1.5%;
    
}
#parent>div:nth-child(2){
   margin-right: 15%;
   margin-top: 20px;
}
footer{
         margin-top: 80px;
    }
    .footer_container{
        display: flex;
        gap: 150px;
        padding: 30px;
    }
    footer{
        background-color:rgb(230,230,230);
    }
    .footer_container p{
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footer_container h3{
        font-size: 21px;
        font-family:monospace;
    }

    .bottom_footer{
        text-align: center;
        padding: 30px;
    }
    .bottom_footer img{
        width: 270px;
        text-align: center;
        /* padding-top: -20px; */
        margin-top: -20px;
    }
    .bottom_footer p{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .insta{
        display: flex;
        gap: 20px;
        margin-top: -20px; 
    }
    .insta > p > a{
        font-size: 30px;
    }

    a:hover{
        color: peru;
    }
    a{
        text-decoration: none;
        color:#454545;
    } 
    @media screen and (max-width: 770px) {
       #parent{
        display: block;
  
    
        margin: 0% 70% 0% 2%;
        text-align: center;
       }
     
#parent>div:nth-child(2){
   margin-right: 0%;
  
}
    }
    #header{
display: flex;
flex-direction: column;
}
#top{
display: flex;
justify-content: flex-end;
padding: 20px 0px;
width: 70%;
margin: auto;
}
#top>.mobile-menu-trigger{
display: none;
}
#top>div:nth-child(2n+1){
width:25%;
}
#top>div:nth-child(2){
display: flex;
width: 50%;
justify-content: center;
}
#top>#logo>a>img{
justify-content: center;
}
/* seach AK */
.icon #search_btn1{
background-color: #FFFFFF;
border: none;
padding-bottom:3px;
}
/* .icon #search_value{
margin-right: -10px;
border: none;
background-color: #FFFFFF;
} */
/* #container{
width: 50px;
height: 50px;
border-radius: 50px;
position: relative;
}
.container .icon{
position: absolute;
left: 30px;
top: 50%;
transform: translate(-50%, -50%);
} */

/* seach AK */
#navigate{
display: flex;
align-items: center;
justify-content: end;
}
#navigate li a{
padding: 7.5px 12px;
}
#navigate #space{
margin-right: 10px;
}
#icon{
display: inline-block;
}

/* an */
#top>#logo #imgS{
width: 80%;
}
#header li{
list-style: none;
}
#header a{
text-decoration: none;
font-size: 13px;
font:"Futura",sans-serif;
color: #000000;
}
header>#middle{
display:flex;
justify-content: center;
position: relative;
}
header>#middle>ul{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
header>#middle>ul>li{
display: flex;
padding: 7.5px 15px;
align-items: center;  
}
.mega_menu{
position: absolute;
top: 130%;
width: 100%;
opacity: 0;
visibility: hidden;
transition: 1s;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
background-color: #FFFFFF;
justify-content: center; 
left: 0px;
display: flex;
flex-direction: row;
margin-top: -10px;
}
@media(min-width:769px){
#middle>ul>li:hover .mega_menu{
opacity: 1;
visibility: visible;
top:100%;
padding: 10px;
}
}
.mega_menu_items>img{
margin-top: 26px;
}
.mega_menu p{
font-size: 12px;
font:"Futura",sans-serif;
margin-top: -15px;
}
.mega_menu_items{
justify-content:flex-start;
}
.mega_menu_items>.align{
padding-left: 37px;
}
.mega_menu_items li{
padding: 3px;
}
#middle>ul>li #last{
color: #FF0000;
}
#bottom>p{
display: flex;
margin: auto;
margin-top: 0;
justify-content: center;
padding: 10px;
background-color: #000000;
color: #FFFFFF;
font-size: 11.56px;
font:"Futura",sans-serif;
}
/* @media screen and (min-width:768px){

} */
@media(max-width:1280px){
#top{
    width: 80%;
}
#navigate{
    justify-content: start;
}
#top>#logo #imgS{
    width: 280px;
}
.icon{
    display:flex;
    flex-direction: column;
    width: 100px;
}
.icon #search_btn1 #clear{
    font-size: 12px;
}
}
@media(max-width:768px){

#top{
    display: flex;
    width: 50%;
}
.icon{
    width: 30px;
}
#navigate{
    justify-content: start;
}
#top>#logo #imgS{
    width: 200px;
    margin-left: -130px;
}
/* #top .mobile-menu-trigger{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #444444;
} */
#clear{
    display: none;
}
}