
body>#offerLine{
    display: block;
    margin: auto;
}
body>#offerLine>img{
    width: 100%;
    height: 100%;
    margin: auto;
}
/* carousel middle */
#Hero-carousel{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}
#Hero-carousel .c-item{
    height: 650px;
}
#Hero-carousel .c-img{
    height: 100%; 
    object-fit: cover;
    filter: brightness(0.8);
}
#Hero-carousel .carousel-caption{
    top: 0;
    margin-top:260px;
    align-items: center;
}
#Hero-carousel .carousel-h1{
    font: 73px "Tiemann",serif;
}
#Hero-carousel .carousel-p{
    font: 20.8px "Futura",sans-serif;
}
#Hero-carousel .c-item button{
    font: 13px "Futura",sans-serif;
    font-weight: bolder;
    background-color:#FFFFFF;
    color: #000000;
    margin: 0 5px 2px 0;
    padding: 11px 20px;
    border: none;
    border-radius: 0;
}
#home_page_products1{
    padding: 20px 20px 0;
    text-align: center;
}
#home_page_products1 p{
     font: 26.6px "Tiemann",serif;
}
/* pagination */
#pagination #content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
#pagination #content>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2 solid lightgray;
    margin: 2rem;
}
#pagination #controlph{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}
#pagination #controlph>#recommended_p{
    margin-top: 15px;
    padding-left: 250px;
    font:26.6px "Tiemann",serif;
}
#pagination #content img{
  max-width: 150px;
  margin: 1rem;
}
#pagination #recommended_p{
    text-align: center;
    margin: auto;
}
#pagination #nav {
  display: flex;
  flex-direction: row;
}
#pagination #nav span{
  font-size: 1rem;
  border: lightgray solid 1px;
  padding: 0.5rem;
  background-color: #000000;
  color:#FFFFFF;
}
#pagination #content>div>div{
    display: flex;
  }

#pagination #content>div>div:last-child>span:first-child{
    text-decoration: line-through;
    margin-right: 10px;
  }
#pagination #content>div>div:last-child>span:last-child{
    color: red;
    margin-left:10px;
  }
/* women_section_offer */
#women_section_offer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 80%;
    margin: auto;
    overflow: hidden;
}
#women_section_offer>div{
    width: 100%;
    padding: 17px 0 0 17px;
    height: 400px;
}
#women_section_offer>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
#women_section_offer>div>div{
    margin: auto;
    margin-top:-150px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
}
#women_section_offer>div:nth-child(2)>div:nth-child(2){
    margin-top:-200px;
}
#women_section_offer>div:nth-child(3)>div:nth-child(2){
    margin-top:-135px;}
#women_section_offer>div button{
    background-color: #FFFFFF;
    font: 12px "Futura",sans-serif;
    padding: 8px 14px;
    border: none;
    color: #000000;
    font-weight:600;
}
/* shop_by_category_hp */
#shop_by_category_hp{
    display: block;
    text-align: center;
}
#shop_by_category_hp_div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    height: 40%;
    margin: auto;
    text-align: center;
    align-items: baseline;
    padding: 0 0 0 22px;
}
#shop_by_category_hp_div>div{
    height: 55%;
    object-fit: cover;
    padding:20px 0 20px 0;
    font: 14px "Futura",sans-serif;
}
#shop_by_category_hp_div>div img{
    width: 200px;
    height: 170px;
    padding:198.141 0 0;
    object-fit: cover;
}
#shop_by_category_hp_div a{
    display: block;
    margin: auto;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
}
/* carousel lower */
#Hero-carousel_2{
    margin-top: 10px;
}
#Hero-carousel_2 .c-item{
    height: 450px;
}
#Hero-carousel_2 .c-img{
    height: 100%; 
    object-fit: cover;
    filter: brightness(0.8);
}
#Hero-carousel_2 .carousel-caption{
    top: 0;
    margin-top:70px;
    align-items: center;
}
#Hero-carousel_2 .carousel-h1{
    font: 73px "Tiemann",serif;
}
#Hero-carousel_2 .carousel-p{
    font: 20.8px "Futura",sans-serif;
}
#Hero-carousel_2 .c-item button{
    font: 13px "Futura",sans-serif;
    font-weight: bolder;
    background-color:#FFFFFF;
    color: #000000;
    margin: 0 5px 2px 0;
    padding: 11px 20px;
    border: none;
    border-radius: 0;
}
/* new_arrival */
#god_father{
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
}
#god_father>h2{
    font: 32.68px "Tiemann",serif;
}
#god_father>a{
    border: 0.5px solid black;
    text-decoration: none;
    color: #000000;
    font: 12px "Futura",sans-serif;
    margin-top: 15px;
    padding: 8px 14px;
}
#new_arrival_parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px 0 100px 0;
    align-items: center;
}
#new_arrival_parent>div{
    width: 200px;
    height: 250px;
}
#new_arrival_parent>div>p{
    font: 14px "Futura",sans-serif;
}
#new_arrival_parent>div>div>p{
    font: 13.6px "Futura",sans-serif;
}
#new_arrival_parent>div>div>p:first-child{
    text-decoration: line-through;
}
#new_arrival_parent>div>div>p:last-child{
    color: #FF4E4E;
}
#new_arrival_parent>div>img{
    width: 100%;
    height: 100%;
    margin: auto;
}
#new_arrival_parent>div>div{
    display: flex;
    justify-content: space-around;
}
/* trending now */
#god_father_2{
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
}
#god_father_2>h2{
    font: 32.68px "Tiemann",serif;
}
#god_father_2>a{
    border: 0.5px solid black;
    text-decoration: none;
    color: #000000;
    font: 12px "Futura",sans-serif;
    margin-top: 15px;
    padding: 8px 14px;
}
#trending_now_parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    height: 100%;
    padding: 20px 0 100px 0;
    margin: auto;
    justify-content: center;
}
#trending_now_parent>div{
    width: 200px;
    height: 250px;
}
#trending_now_parent>div>p{
    font: 14px "Futura",sans-serif;
    margin:20px 0 10px 20px;
    width: 90%;
    text-align: center;
}
#trending_now_parent>div>div>p{
    font: 13.6px "Futura",sans-serif;
    justify-content: space-between;
}
#trending_now_parent>div>div>p:last-child{
    color: #FF4E4E;
}
#trending_now_parent>div>div>p:first-child{
    text-decoration: line-through;
}
#trending_now_parent>div>img{
    width: 100%;
    height: 100%;
    margin: auto;
}
#trending_now_parent>div:last-child>img{
    margin-top:126px;
    height: 50%;
}
#trending_now_parent>div>div{
    display: flex;
    justify-content: space-evenly;
}
/* women_section_offer */
#women_section_offer_2{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 25px 0;
}
#women_section_offer_2>div{
    display: block;
    
    width: 100%;
    padding: 17px 0 0 17px;
    height: 600px;
    margin: auto;
}

#women_section_offer_2>div>img{
    display: block;
    width: 330px;
    height: 356.66px;
    object-fit: cover;
    margin: auto;
}
#women_section_offer_2>div>div{
    display: block;
    margin: auto;
    height: 200px;
    text-align: center;
    color:#000000;
    text-align: center;
}
#women_section_offer_2>div h3{
    font:26px "Tiemann",serif;
}
#women_section_offer_2>div p{
    font: 16px "Futura",sans-serif;
}
#women_section_offer_2>div button{
    background-color: #FFFFFF;
    font: 12px "Futura",sans-serif;
    padding: 8px 14px;
    border: 0.1pc solid black;
}

@media only screen and (max-width: 780px){
    
}
@media only screen and (min-width: 375px) and (max-width: 667px){
    #Hero-carousel .c-item{
        height: 357px;
    }
    #Hero-carousel .carousel-caption{
        margin-top:100px;
    }
    #home_page_products1 p{
         font: 26.6px "Tiemann",serif;
    }
    #Hero-carousel .carousel-h1{
        font: 36.5px "Tiemann",serif;
    }
    #Hero-carousel .carousel-p{
        font: 17.68px "Futura",sans-serif;
    }
    #Hero-carousel .c-item button{
        font: 11px "Futura",sans-serif;
    }
    /* pagination */
    #pagination #controlph>#recommended_p{
        padding-left: 30px;
        font:22.61px "Tiemann",serif;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    #pagination #nav span{
      display: none;
    }
    #pagination #content{
        width: 80%;
        justify-content: start;
        margin:0 10px;
        height: auto;
    }
    #pagination #content>div{
        margin-left: -10px;
    }
    /* women offer */
    #women_section_offer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #women_section_offer>div{
        width: 100%;
        padding: 0;
        margin-left: -10px;
        height: 90%;
    }
    #women_section_offer>div:nth-child(2)>div:nth-child(2){
        height: 150px;
    }
    #women_section_offer>div:nth-child(3)>div:nth-child(2){
        height: 160px;
    }
    /* shop_by_category_hp */
    #shop_by_category_hp_div{
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        padding-left: 25px;
    }
    #shop_by_category_hp_div>div img{
        width: 154.5px;
        height: 130px;
    }
    #shop_by_category_hp_div a{
        margin-top: 5px;
    }
    #Hero-carousel_2 .c-item{
        height: 357px;
    }
    #Hero-carousel_2 .carousel-caption{
        margin-top:100px;
    }
    #Hero-carousel_2 p{
         font: 26.6px "Tiemann",serif;
    }
    #Hero-carousel_2 .carousel-h1{
        font: 36.5px "Tiemann",serif;
    }
    #Hero-carousel_2 .carousel-p{
        font: 17.68px "Futura",sans-serif;
    }
    #Hero-carousel_2 .c-item button{
        font: 11px "Futura",sans-serif;
    }
    /* new_arrival */
    #god_father>h2{
        font: 27.77px "Tiemann",serif;
    }
    #god_father>a{
        font: 10px "Futura",sans-serif;
    }
    #new_arrival_parent{
        margin: 0;
        padding-bottom: 50px;
    }
    #new_arrival_parent>div{
        margin-left: -5px;
    }
    #new_arrival_parent>div>p{
        font: 12px "Futura",sans-serif;
    }
    #new_arrival_parent>div>div{
        justify-content: space-between;
        margin-right: 10px;
    }
    #new_arrival_parent>div>div>p{
        font: 12px "Futura",sans-serif;
    }
    #new_arrival_parent>div>img{
        width: 75%;
        height: 80%;
        margin: auto;
    }
    #new_arrival_parent>div>div{
        display: flex;
        justify-content: space-around;
    }
    /* trending now */
    
    #god_father_2>h2{
        font: 27.77px "Tiemann",serif;
    }
    #god_father_2>a{
        font: 10px "Futura",sans-serif;
    }
    #trending_now_parent{
        margin: 0;
        padding-bottom: 0px;
        justify-content: start;
    }
    #trending_now_parent>div{
        margin-left: -5px;
    }
    #trending_now_parent>div>p{
        font: 12px "Futura",sans-serif;
        margin: 0;
    }
    #trending_now_parent>div>div{
        justify-content: space-between;
        margin-right: 0;
    }
    #trending_now_parent>div>div>p{
        font: 12px "Futura",sans-serif;
        margin: 0 -5px 0 -10px;
    }
    #trending_now_parent>div>img{
        width: 75%;
        height: 80%;
    }
    #trending_now_parent>div>div{
        display: flex;
        justify-content: space-around;
    }
    #women_section_offer_2{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #women_section_offer_2>div{
        width: 90%;
        padding: 0;
        margin-left: 0px;
    }
    #women_section_offer_2>div h3{
        font-size: 22.61px;
    }
    #women_section_offer_2>div p{
        font-size: 13.6px;
    }
    #women_section_offer_2>div a{
        font-size: 10px;
    }
}
/* @media only screen and (max-width: 600px) and (min-width: 400px) {
    
} */
/*  */